---
layout: home
active: home
title: Testing Title
excerpt: Some excerpt about some stuff
---

{% for post in site.posts limit:1 %}
<div class="featured-project" style="background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('{{ post.featured_image }}');">
  <div class="container">

  <div class="featured-item">
    <div class="featured-item-container">
      
    <div class="featured-text">
      <h4>{{ post.title }}</h4>
      <p class="post-meta">
        {% include article-date.html %}
        {% include article-read-time.html content=post.content %}
      </p>
      <p>{{ post.excerpt }}</p>
      <a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}">Read Post</a>
    </div>

    </div>

  </div>
</div>
</div>
{% endfor %}

{% comment %}
<div class="featured-project" style="background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('/assets/img/featured04.jpg');">
  <div class="container">

    <div class="featured-item">
      <div class="featured-item-container">

        <div class="featured-text">
          <h4>Hey There</h4>
          <p>I build things.</p>
          <a class="btn btn-primary" href="#">Button</a>
          <a class="btn btn-secondary" href="#">More Button</a>
        </div>

      </div>

    </div>
  </div>
</div>

{% endcomment %}



<div class="container">

<h1>Projects</h1>

<div class="button-group filter-button-group mb-4">
  <button class="filter-button is-checked" data-filter="*">Show All</button>
  {% for category in site.categories %}
    <button class="filter-button" data-filter=".{{ category | first }}">{{ category | first }}</button>
  {% endfor %}
</div>


<div class="grid row">
  <!-- get most recent 3 posts, skip latest -->
  <!-- to limit posts, use "for post in site.posts limit:12 offset:1" -->
  {% for post in site.posts offset:1 %}
  <div class="col-md-6 col-lg-4 preview-item {{ post.categories | join: ' ' }}" data-category="{{ post.categories | join: ' ' }}">
    <div class="preview-item-container">
      

    <a class="preview-item-link" href="{{ post.featured_image }}" data-fancybox="images" data-caption="&lt;h2&gt;{{ post.title }}&lt;/h2&gt;&lt;p&gt;{{ post.excerpt }}&lt;/p&gt;&lt;a href='{{ post.url | prepend: site.baseurl }}'&gt;Read More&lt;/a&gt;">
      <img class="preview-item-image" src="{{ post.featured_image_thumb }}" alt="{{ post.title }}"/>
    </a>

    <div class="preview-text">
      {% comment %}<a href="{{ post.url | prepend: site.baseurl }}"><h4>{{ post.title }}</h4></a>{% endcomment %}
      <h4>{{ post.title }}</h4>
      {% comment %}<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>{% endcomment %}
      <p class="post-meta">
        {% include article-date.html %}
        {% include article-read-time.html content=post.content %}
      </p>
      

      {% comment %}<span>&bull; posted in {{ post.categories | join: ', ' }}</span>{% endcomment %}
      <p>{{ post.excerpt }}</p>
      <a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}">Read Post</a>
    </div>

    </div>

  </div>
  {% endfor %}
</div>


</div>


<section class="dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>blah</p>
    </div>
  </div>
</div>
