---
layout: home
active: home
title: Testing Title
excerpt: Some excerpt about some stuff
---


{% for post in site.posts limit:1 %}
<div class="featured-project" style="background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('{{ post.featured_image }}');">
  <div class="container">

  <div class="featured-item {{ post.categories | join: ' ' }}" data-category="{{ post.categories | join: ' ' }}">
    <div class="featured-item-container">
      
    <div class="featured-text">
      <h4>{{ post.title }}</h4>
      <p class="post-meta">
        {% include article-date.html %} • {% include article-read-time.html content=post.content %}
      </p>
      <p>{{ post.excerpt }}</p>
      <a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}">Read Post</a>
    </div>

    </div>

  </div>
</div>
</div>

  {% endfor %}




<div class="container">

<h1>Projects</h1>

<div class="button-group filter-button-group mb-4">
  <button class="filter-button is-checked" data-filter="*">Show All</button>
  {% for category in site.categories %}
    <button class="filter-button" data-filter=".{{ category | first }}">{{ category | first }}</button>
  {% endfor %}
</div>


<div class="grid row">
  <!-- get most recent 3 posts, skip latest -->
  <!-- to get all posts, use "for post in site.posts" -->
  {% for post in site.posts limit:12 offset:1 %}
  <div class="col-md-6 col-lg-4 preview-item {{ post.categories | join: ' ' }}" data-category="{{ post.categories | join: ' ' }}">
    <div class="preview-item-container">
      

    <a class="preview-item-link" href="{{ post.featured_image }}" data-fancybox="images" data-caption="&lt;h2&gt;{{ post.title }}&lt;/h2&gt;&lt;p&gt;{{ post.excerpt }}&lt;/p&gt;&lt;a href='{{ post.url | prepend: site.baseurl }}'&gt;Read More&lt;/a&gt;">

      {% comment %}
      <div class="preview-item-overlay">
        <span><svg class="icon" width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"">
          <title>{{ site.data.theme.t.search | default: 'Search' }}</title>
          <path class="path1" d="M26.819 24.917c0.262 0.262 0.262 0.688 0 0.951l-0.951 0.951c-0.263 0.262-0.688 0.262-0.951 0l-6.656-6.656c-0.072-0.072-0.12-0.158-0.153-0.248-1.365 0.998-3.041 1.593-4.862 1.593-4.562 0-8.261-3.699-8.261-8.261s3.699-8.261 8.261-8.261c4.562 0 8.261 3.699 8.261 8.261 0 1.821-0.595 3.497-1.593 4.862 0.091 0.032 0.176 0.080 0.248 0.153l6.656 6.656zM13.246 7.739c-3.041 0-5.508 2.466-5.508 5.508s2.466 5.508 5.508 5.508 5.508-2.466 5.508-5.508c0-3.041-2.466-5.508-5.508-5.508z"/>
        </svg></span>
      </div>
      {% endcomment %}

      <img class="preview-item-image" src="{{ post.featured_image_thumb }}" alt="{{ post.title }}"/>
    </a>

    <div class="preview-text">
      {% comment %}<a href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>{% endcomment %}
      <h4>{{ post.title }}</h4>
      {% comment %}<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>{% endcomment %}
      <p class="post-meta">
        {% include article-date.html %} • {% include article-read-time.html content=post.content %}
      </p>
      

      {% comment %}<span>&bull; posted in {{ post.categories | join: ', ' }}</span>{% endcomment %}
      <p>{{ post.excerpt }}</p>
      <a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}">Read Post</a>
    </div>

    </div>

  </div>
  {% endfor %}
</div>


</div>


  <hr style="display: block; margin: 50px 0;">