
<nav class="navbar navbar-expand-md navbar-light bg-white justify-content-end">
  <div class="container">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>

    {%- if page_paths -%}
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
         {% for item in site.data.navigation.docs %}
          {% if {{page.active}} == {{item.active}} %}
            <li class="nav-item"><a class="nav-link active" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
          {% endif %}
         {% endfor %}
      </ul>
    </div>
    {%- endif -%}

  </div>
</nav>
