
<!-- put this on homepage -->
{% comment %}

{% if page.url == "/" %}
  {% include hero.html %}
{% endif %}

{% endcomment %}


    <!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "wrapAround": true }'>

  <div class="carousel-cell" style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg');">
    <h2>bloop</h2>
  </div>

  <div class="carousel-cell" style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg');">
    <h2>bloop</h2>
  </div>

  <div class="carousel-cell" style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg');">
    <h2>bloop</h2>
  </div>

</div>









<!-- <div class="row">
  <div class="column sm-3"><div class="base-tile base00"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base01"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base02"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base03"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base04"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base05"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base06"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base07"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base08"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base09"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base0A"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base0B"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base0C"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base0D"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base0E"><span>test</span></div></div>
  <div class="column sm-3"><div class="base-tile base0F"><span>test</span></div></div>
</div> -->