<div class="inner">
	{% if site.search %}

	{% comment %}
		<label class="search-label" for="search">{{ site.data.theme.t.site_search | default: 'Site Search' }}</label>
	{% endcomment %}
		<label class="sr-only" for="search">{{ site.data.theme.t.site_search | default: 'Site Search' }}</label>
		<input type="text" id="search" class="form-control search-input" aria-describedby="results-count" tabindex="-1" placeholder="{{ site.data.theme.t.menu.search_placeholder_text | default: 'Enter your search term...' }}" />
		
		<div id="results" class="results"></div>
	{% endif %}
</div>
