<div class="sidebar-block">
<a class="btn btn-block social-github" href="https://github.com/mikejandreau" target="_blank"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg> GitHub</a>
<a class="btn btn-block social-twitter" href="https://twitter.com/losaidos" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg> Twitter</a>
<a class="btn btn-block social-linkedin" href="https://www.linkedin.com/in/mikejandreau/" target="_blank"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg> LinkedIn</a>
<a class="btn btn-block social-soundcloud" href="https://soundcloud.com/mikejandreau" target="_blank"><svg class="icon icon-soundcloud"><use xlink:href="#icon-soundcloud"></use></svg> SoundCloud</a>
<a class="btn btn-block social-rss" href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg> RSS</a>
</div>

{% comment %}

<!-- <a class="button" href="https://www.facebook.com/losaidos/" target="_blank"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg> Facebook</a> -->
<!-- <a class="button" href="https://wickedoffkiltah.deviantart.com/gallery/" target="_blank"><svg class="icon icon-deviantart"><use xlink:href="#icon-deviantart"></use></svg> DeviantArt</a> -->
<!-- <a class="button" href="https://www.instagram.com/losaidos/" target="_blank"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg> Instagram</a> -->
{% endcomment %}