.site-header {
  background: #ddd;
}

.active {
  color: purple;
  font-weight: bold;
}

nav {
  background: #efefef;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav li + li {
  margin-left: 10px;
}

nav a {
  color: teal;
}
