// main.scss

// theme
@import "themes/bootstrap-dist"; // default bootstrap
// @import "themes/cerulean";
// @import "themes/cosmo";
// @import "themes/cyborg";
// @import "themes/darkly";
// @import "themes/flatly";
// @import "themes/journal";
// @import "themes/litera";
// @import "themes/lumen";
// @import "themes/lux";
// @import "themes/materia";
// @import "themes/minty";
// @import "themes/pulse";
// @import "themes/sandstone";
// @import "themes/simplex";
// @import "themes/sketchy";
// @import "themes/slate";
// @import "themes/solar";
// @import "themes/spacelab";
// @import "themes/superhero";
// @import "themes/united";
// @import "themes/yeti";

// Code highlighting
@import "vendor/prism";

// Lightbox gallery
@import "vendor/fancybox";

// Additional custom styling
@import "base";


.bs-component+.bs-component {
    margin-top: 1rem;
}
.bs-docs-section {
    margin-top: 4em;
}


// preview item card layout container
.preview-item {
  border: 1px solid red;
  margin-bottom: 30px;
}

// link that wraps around the thumbnail image
.preview-item-link {
  background-color: pink;
  display: block;
  border: 4px solid teal;
  position: relative;
  overflow: hidden;

  // &:hover .overlay {
  //   opacity: 1;
  // }
}

// thumbnail image
.preview-item-image {
  border: 5px solid orange;
  display: block;
  width: 100%;
  max-width: 100%;
}

// text container with excerpt and button
.preview-text {
  background: #efefef;
}





.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,255,0.5);

  .preview-item-link:hover & {
    opacity: 1;
  }

  span {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}







// .preview-block {
//   a {
//     display: block;
//     margin: 0;
//   }

//   img {
//     display: block;
//     width: 100%;
//     max-width: 100%;
//   }
// }


// Make sure embeds and iframes fit their containers. 
embed,
iframe,
object,
img {
  max-width: 100%;
}

// Make sure logo link wraps around logo image
.custom-logo-link {
  display: inline-block;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; // 16:9 
  margin-bottom: 15px;
  height: 0;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      border: none;
  }
}


.icon { 
  position: relative;
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  bottom: -.125em;
  fill: currentColor;
}


.site-footer {
  background: tan;
}

// test styles


// .site-header {
// 	background: #ddd;
// }

// make nav text bold when on the page
.active {
	font-weight: bold;
}

// nav {
// 	background: #efefef;

// 	ul {
// 		padding: 0;
// 		margin: 0;
// 	}

// 	li {
// 		display: inline-block;
// 		margin: 0;
// 		padding: 0;

// 		& + li {
// 			margin-left: 10px; 
// 			// background: red;
// 		}
// 	}

// 	a {
// 		color: orange;
// 	}
// }







// search styles 
/* ==========================================================================
   SEARCH
   ========================================================================== */


.search-toggle {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;

    line-height: 30px;
    // line-height: 52px;
    // float: right;
    // margin: 0 0 0 20px;
  // -webkit-transition: 0.2s;
  // transition: 0.2s;


}

.search-content {
  display: none;
  visibility: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
  
  background-color: tan;

  .inner {
    // padding: 0 0.5rem;

    // @include breakpoint($small) {
    //   padding-right: 1rem;
    //   padding-left: 1rem;
    // }

    // @include breakpoint($medium) {
    //   padding-right: 2rem;
    //   padding-left: 2rem;
    // }

    // @include breakpoint($large) {
    //   padding-right: 3rem;
    //   padding-left: 3rem;
    // }

    // @include breakpoint($xlarge) {
    //   padding-right: 4rem;
    //   padding-left: 4rem;
    // }
  }

  .entry-excerpt {
    p {
      margin-bottom: 0;
    }
  }

  // .search-input {
  //   display: block;
  //   margin-bottom: 0;
  //   padding: 0;
  //   border: none;
  //   outline: none;
  //   -webkit-box-shadow: none;
  //   box-shadow: none;
  //   background-color: transparent;
  //   // @include fluid-type($min-vw, $max-vw, 24px, 32px);
  // }

  &.is--visible::after {
    content: "";
    display: block;
  }

  .results-found {
    margin-top: 0.5em;
  }
}




.is--hidden {
  display: none;
  visibility: hidden;
}

.is--visible {
  display: block;
  visibility: visible;
}
