<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body id="page-top" class="site">

  <div class="site-header">
    {%- include header.html -%}
  </div>

  {% if site.search %}
  <div class="search-content">
    <div class="container">
      {% include search-form.html %}
    </div>
  </div>

  {% endif %}


  <main class="site-content">
    <div class="container">

      <div class="main-content"><!-- in scripts it was labelled "initial-content" -->
        {{ content }}
      </div>


    </div>

  </main>

  <footer class="site-footer">
    {%- include footer.html -%}
  </footer>

  {%- include scripts.html -%}

</body>

</html>
